.wrapped{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 1em;
}

.profile {

    margin-top: 15px;
    margin-left: 5px;


}
.posts {
    padding-left: 2em;
    margin-top: 15px;
    margin-left: 0;
}
