.userPhoto {
    width: 70px;
    height: 70px;
}
.selectedPage  {
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    padding-top: 10px;
}

.selectedPage a.activeLink {
    color: #ff4757;
}


