.dialogs  {
    display: grid;
    grid-template-columns: 3fr 10fr;
    margin-top: 10px;
    margin-left: 10px;

}

.dialogsItems a  {
    color: #ffa502;
    text-decoration: none;
}

.dialogsItems a.activeLink {
    color: #ff4757;
}

.messages {
    color: #a4b0be;
    padding: 5px;
}

.dialog a.active {
    color: #ff4757;
}

.dialogsItems img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
