.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems a {
    color: #197343;
    text-decoration: none;
}
.dialogsItems  a.activeLink {
    color: gold;
}
.messages {

}
.dialog a.active {
    color: gold;

}
